/* style for the display as the screen width changes. */

.change-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 690px){
  .products{
    box-shadow: .5px 1px 2px 1.5px  grey;
    width: 15rem !important;
    transition: 1s all ease;
   
}
.image-container img{
    width: 13rem !important; 
}

}

/* cartitem.js styling */
.cart-item{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}