/* style for the display as the screen width changes. */

.change-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 690px){
  .products{
    box-shadow: .5px 1px 2px 1.5px  grey;
    width: 15rem !important;
    transition: 1s all ease;
   
}
.image-container img{
    width: 13rem !important; 
}

}

/* cartItem.js styling */
.cart-list-header{
  display: flex;
  justify-content: space-between;
  
}
.cart-list-header h1{
  font-size: 1rem;
}

/*  carItem.js styling*/
.cart-product-img{
  width: 50px;
  height: 40px;
}
.cart-product-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-product-list p {
  inline-size: 80px;
  word-break: break-all;
  hyphens: auto;
  text-align: center;
}
.cart-product-list img{
  margin-left: 8px;
}
.fa-del{
  width: 20px;
  height: 18px;
}
.cart-product-list p:last-child{
    text-align: end;
}