/* style for the display as the screen width changes. */

.change-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 690px){
  .products{
    box-shadow: .5px 1px 2px 1.5px  grey;
    width: 15rem !important;
    transition: 1s all ease;
   
}
.image-container img{
    width: 13rem !important; 
}
}

.sub-cart-list-header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-product-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.cart-product-img {
  width: 5rem;
  height: 4rem;
}
.sub-cart-list-header h1{
  font-size: 1.2rem;
}
.fa-del{
  width: 20px;
  height: 20px;
  margin-top: .2rem;
}
.control-btn{
  display: flex;
  justify-content: center;
}
.control-btn strong{
  border: 1px solid black;
  height: fit-content;
  margin: 0 .1rem;
  padding: 0 .1rem;
  cursor: pointer;
  background-color: rgb(160, 158, 158);
  outline: none;

}

.control-btn strong:hover{
  background: rgb(43, 39, 39);
  color: #fff
}


/* .sub-cart-list-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  transform: translate(40px);
}
.sub-cart-list-header h1{
  font-size: 1.2rem;
  padding: 1.4rem;
  padding-bottom: -5rem;
  display: none;
}
.cart-product-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-product-list p{
  
  transform: translate(-50px, 60px);
  font-size: 1.5rem;
  font-family: Montserrat;
  font-style: italic;
  
}
.btn{
  border: 1px solid black;
}


.cart-list-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8rem;
  flex-wrap: wrap;
  padding-left: 2rem;
}
.cart-product-img{
  height: 5rem;
  width: 7rem;
  position: absolute;
  top: 5rem;
  left: center;
  transform: translate(-50px, 2rem);
} */

/* the below code is commented out */

/* .cart-list-header{
  display: flex;
  justify-content: space-between;
  
}
.cart-list-header h1{
  font-size: 1rem;
} 

 .cart-product-img{
  width: 50px;
  height: 40px;
}

.cart-product-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.cart-product-list p {
  inline-size: 80px;
  overflow-wrap: break-word;
  hyphens: manual;
  text-align: end;
}

.fa-del{
  width: 20px;
  height: 18px;
}
.cart-product-list :nth-child(4){
    padding: 0 1rem;
    
}
.cart-product-list .toggle-count{
  padding: 0 .2rem;
  border: 2px solid black;
  
} */
